@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~antd/dist/antd.css';

:root {
  /* Your default theme */
  --bg-primary: #F3F5F6;
  --bg-secondary: #F3F5F6;
  --fontColor: #000000;
}

[data-theme='dark'] {
  --bg-primary: #292929;
  --bg-secondary: #242424;
  --fontColor: #F3F5F6;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--bg-primary);
  color: var(--fontColor);
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
